
@model MVC_odev.Models.CustomerModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <div>
            <label>CustomerId:</label>
            <input type="number" name="CustomerId" />
        </div>
        <div>
            <label>CompanyName:</label>
            <input type="text" name="CompanyName" />
        </div>
        <div>
            <label>ContactName:</label>
            <input type="text" name="ContactName" />
        </div>
        <div>
            <label>ContactTitle:</label>
            <input type="text" name="ContactTitle" />
        </div>
        <div>
            <label>Adress:</label>
            <input type="text" name="Adress" />
        </div>
        <div>
            <label>City:</label>
            <input type="text" name="City" />
        </div>
        <div>
            <button type="submit">Kayıt ol</button>
        </div>
    </form>
</body>
</html>
