


.body {
    background-color: bisque;
}
#content{
    background-color:bisque;
    
}
.desc {
    background-color: bisque;
}
.kartlar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: bisque;
}

    .kartlar > .card {
        width: 224px;
        height: 373px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        margin-right:5px;
        float: left;
    }