
@model MVC_odev.Models.ProductModel
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
       <div>
            <label>ProductId:</label>
            <input type="number" name="ProductId"/>
       </div>
        <div>
            <label>ProductName:</label>
            <input type="text" name="ProductName" />
        </div>
        <div>
            <label>UnitPrice:</label>
            <input type="number" name="UnitPrice" />
        </div>
        <div>
            <label>UnitsInStok:</label>
            <input type="number" name="UnitsInStok" />
        </div>
        <div>
            <button type="submit">Kayıt ol</button>
        </div>


    </form>
</body>
</html>
