
@model MVC_odev.Models.EmployeeModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <div>
            <label>EmployeeId:</label>
            <input type="number" name="EmployeeId" />
        </div>
        <div>
            <label>FirstName:</label>
            <input type="text" name="FirstName" />
        </div>
        <div>
            <label>LastName:</label>
            <input type="text" name="LastName" />
        </div>
        <div>
            <label>Title:</label>
            <input type="text" name="Title" />
        </div>
        <div>
            <label>Adress:</label>
            <input type="text" name="Adress" />
        </div>
        <div>
            <label>City:</label>
            <input type="text" name="City" />
        </div>
        <div>
            <button type="submit">Kayıt ol</button>
        </div>
    </form>
</body>
</html>
